<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d4268a8639.js" crossorigin="anonymous"></script>
    <meta name="description" content="Encurtador de URL's simplificado.">
    <meta name="author" content="Adyson Alves">
    <meta name="keywords" content="encurtador de links, encurtador, encurtar url, encurtar link">
    <meta property="og:image" content="https://encurtador.up.railway.app/assets/logo.png">
</head>
<body>
    {{{body}}}
</body>
</html>