{{> header}}

<main>
    <div class="container">
        <h2>Cole a URL para ser encurtada</h2>
        <form action="/encurtar" method="post">
        <div class="form-control">
            <input type="url" name="link" id="link" placeholder="Cole o link aqui..." required>
            <button type="submit"><i class="fa-solid fa-link"></i> Encurtar</button>
        </div>

        </form>

    </div>

    
</main>

{{> footer}}