{{> header}}

<main>
    <div class="container">
        <h2>Sua URL encurtada</h2>
        <form action="#">
            <div class="form-control">
                <input type="text" name="link" id="link"
                    value="{{urlBase}}">
                <button onclick="copiarLink()" type="button"><i class="fa-regular fa-copy"></i> Copiar</button>
            </div>

        </form>

        <div class="link-button-container">
        <a href="/" class="link-button"><i class="fa-solid fa-rotate-right"></i> Encurtar outro link</a>
        <a href="/audiencia/{{newUrl}}" class="link-button"><i class="fa-solid fa-eye"></i> Visualizações</a>
        </div>

    </div>
</main>

<script>
    const link = document.getElementById('link')

    function copiarLink() {
        link.select();
        link.setSelectionRange(0, 99999);
        document.execCommand("copy");
        alert("Seu link encurtado foi copiado!");
    }
</script>

{{> footer}}